<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kojotak Bass Guitar Song Book</title>
</head>
<body>
    <h1>Kojotak bass guitar song book</h1>

    <a th:text="home" th:href="@{/}" th:if="${authors == null}"></a>

    <table border="1" th:if="${authors != null}">
        <thead>
        <tr>
            <th>Author</th>
            <th>Song Title</th>
            <th>Meter</th>
            <th>Plays</th>
        </tr>
        </thead>
        <tbody>
            <div th:remove="tag" th:each="author:${authors}">
                <tr th:each="song,stats:${author.songs}">
                    <td th:text="${author.name}"></td>
                    <td><a th:text="${song.name}"
                           th:href="@{/author/{authorName}/song/{songName}(authorName=${author.name}, songName=${song.name})}"></a>
                    </td>
                    <td><sup th:text="${song.meter.count}"></sup>&frasl;<sub th:text="${song.meter.perBeat}"></sub></td>
                    <td th:text="${song.plays.size()}"></td>
                </tr>
            </div>
        </tbody>
    </table>

    <table border="1" th:if="${selectedAuthor != null}">
        <tbody>
            <tr>
                <td>Author</td>
                <td th:text="${selectedAuthor.name}" colspan="3"></td>
            </tr>
            <tr th:if="${selectedSong != null}">
                <td>Song</td>
                <td th:text="${selectedSong.name}" colspan="3"></td>
            </tr>
            <tr th:each="play,stats:${selectedSong.plays}" th:if="${selectedSong.plays != null}">
                <td th:if="${stats.first}">YouTube</td>
                <td th:if="${!stats.first}"></td>
                <td><a th:text="${play.channel.label}"
                       th:href="@{/author/{authorName}/song/{songName}/play/{channelId}(authorName=${selectedAuthor.name}, songName=${selectedSong.name}, channelId=${play.channel.id})}"></a>
                <td th:text="${play.tuning.name}" ></td>
                <td th:text="${play.technique}" ></td>
            </tr>
            <tr th:if="${selectedPlay != null}">
                <td></td>
                <td colspan="3">
                    <iframe
                            th:src="@{'https://www.youtube.com/embed/' + ${selectedPlay.id}}"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>

                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>