<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kojotak Bass Guitar Song Book</title>
</head>
<body>
    <h1><a th:href="@{/}">Kojotak bass guitar song book</a></h1>

    <table border="1" th:if="${rows != null}">
        <thead>
        <tr>
            <th>Song Title</th>
            <th>Author</th>
            <th>BPM</th>
            <th>Meter</th>
            <th>Tuning</th>
            <th>Youtube channel</th>
            <th>Technique</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <form th:action="@{/}" method="post" th:object="${filter}">
                <td><input type="text" th:field="*{songName}" /></td>
                <td>
                    <select onchange='this.form.submit()' th:field="*{authorName}">
                        <option th:value="${null}" th:text="all"></option>
                        <option th:each="a : ${authors}" th:value="${a}" th:text="${a}"></option>
                    </select>
                </td>
                <td>
                    &nbsp;
                </td>
                <td><select onchange='this.form.submit()' th:field="*{meter}">
                    <option th:value="${null}" th:text="all"></option>
                    <option th:each="m : ${meters}" th:value="${@meterToStringConverter.convert(m)}"><sup th:text="${m.count}"></sup>&frasl;<sub th:text="${m.perBeat}"></sub></option>
                </select></td>
                <td><select onchange='this.form.submit()' th:field="*{tuning}">
                    <option th:value="${null}" th:text="all"></option>
                    <option th:each="t : ${tunings}" th:value="${t}" th:text="${t.getName()}"></option>
                </select></td>
                <td><select onchange='this.form.submit()' th:field="*{channel}">
                    <option th:value="${null}" th:text="all"></option>
                    <option th:each="ch : ${channels}" th:value="${ch}" th:text="${ch.label}"></option>
                </select></td>
                <td><select onchange='this.form.submit()' th:field="*{technique}">
                    <option th:value="${null}" th:text="all"></option>
                    <option th:each="t : ${technique}" th:value="${t}" th:text="${t.name}"></option>
                </select></td>
                </form>
            </tr>
            <tr th:each="row:${rows}">
                <td><a th:text="${row.song.name}"
                       th:href="@{/author/{authorName}/song/{songName}(authorName=${row.author.name}, songName=${row.song.name})}"></a>
                </td>
                <td th:text="${row.author.name}"></td>
                <td th:text="${row.song.bpm}"></td>
                <td><sup th:text="${row.song.meter.count}"></sup>&frasl;<sub th:text="${row.song.meter.perBeat}"></sub></td>
                <td th:text="${row.song.getAllTuningNames()}"></td>
                <td th:text="${row.song.getAllChannels()}"></td>
                <td th:text="${row.song.getAllTechnique()}"></td>
            </tr>
        </tbody>
    </table>

    <table border="1" th:if="${selectedAuthor != null}">
        <tbody>
            <tr>
                <td>Author</td>
                <td th:text="${selectedAuthor}" colspan="3"></td>
            </tr>
            <tr th:if="${selectedSong != null}">
                <td>Song</td>
                <td th:text="${selectedSong.name}" colspan="3"></td>
            </tr>
            <tr th:if="${selectedSong.bpm != null}">
                <td>BPM</td>
                <td th:text="${selectedSong.bpm}" colspan="3"></td>
            </tr>
            <tr th:each="play,stats:${selectedSong.plays}" th:if="${selectedSong.plays != null}">
                <td th:if="${stats.first}">YouTube</td>
                <td th:if="${!stats.first}"></td>
                <td><a th:text="${play.channel.label}"
                       th:href="@{/author/{authorName}/song/{songName}/play/{channelId}/id/{youtubeId}(authorName=${selectedAuthor}, songName=${selectedSong.name}, channelId=${play.channel.id}, youtubeId=${play.id})}"></a>
                <td th:text="${play.tuning.getName()}" ></td>
                <td th:text="${play.technique}" ></td>
            </tr>
            <tr th:if="${selectedPlay != null}">
                <td></td>
                <td colspan="3">
                    <iframe
                            th:src="@{'https://www.youtube.com/embed/' + ${selectedPlay.id}}"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>

                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>